@{
    ViewBag.Title = "Home";
}

<h2>Index</h2>

<li>
    <ul>@Html.ActionLink("Goods", "Index", "Goods")</ul>
    <ul>@Html.ActionLink("Categories", "Index", "Categories")</ul>
    <ul>@Html.ActionLink("Manufacturers", "Index", "Manufacturers")</ul>
</li>
